<header class="navbar">
    <div class="logo">
        <h1><a href="/">Gimme</a></h1>
    </div>
    <nav class="nav-links">
        <a href="#annonces">Annonces</a>
        <a href="#deposer-annonce">Déposer une annonce</a>
        <a href="#contact">Contact</a>
    </nav>
    <div class="auth-buttons">
        <div sec:authorize="!isAuthenticated()">
            <a href="/login" class="btn login-btn">Login</a>
            <a href="/register" class="btn register-btn">Register</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a href="/profile-update" class="btn profile-btn">Profil</a>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit" class="btn logout-btn">Logout</button>
            </form>
        </div>
    </div>
</header>
