<div class="profile-sidebar">
    <nav class="profile-nav">
        <ul>
            <li><a href="/profile-reception">Boite de reception</a></li>
            <li><a href="/profile-favoris">Favoris</a></li>
            <li><a href="/profile-historique">Historique</a></li>
            <li><a href="/profile-update">Mettre à jour le profil</a></li>
            <li><a href="/profile-chat">Chat</a></li>
            <li><a href="/profile-delete">Supprimer le profil</a></li>
        </ul>
    </nav>
</div>
