<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/offers.css">
    <title>Gimme - Offres</title>
    <link rel="icon" href="/images/icon.png" type="image/png">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main class="search-container">
    <p>En développement</p>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
