<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/offers.css">
    <title>Gimme - Offres</title>
    <link rel="icon" href="/images/icon.png" type="image/png">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main class="search-container">
    <!-- Section des résultats d'offres -->
    <section class="offers-results">

        <div>
            <h2>Filtrer votre recherche</h2>
            <form class="search-form" th:action="@{/offers?search={search}&category={category}&condition={condition}(search=${searchDto.search}, category=${searchDto.category}, condition=${searchDto.condition})}">
                <div id="category">
                    <label for="category">Catégorie :</label>
                    <select name="category" id="category">
                        <option value="">Toutes les catégories</option>
                        <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
                    </select>
                </div>
                <button type="submit" class="btn">Rechercher</button>
        </div>

        <h2>Résultats de la recherche</h2>

        <div id="success-message" class="success-message" style="display: none;">
            <p id="success-text"></p>
        </div>

        <button id="saved-search" type="button" class="btn">Sauvegarder cette recherche</button>

        <div th:replace="fragments/offers :: div"></div>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="js/offers-search.js"></script>
</body>
</html>
