<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/offers.css">
    <title>Gimme - Offres</title>
    <link rel="icon" href="/images/icon.png" type="image/png">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main class="search-container">
    <!-- Formulaire de recherche -->
    <section class="search-bar">
        <form action="/offers" method="get">
            <input type="text" name="search" id="searchInput" placeholder="Recherchez une offre..." required />
            <button type="submit" class="btn">Rechercher</button>
        </form>
    </section>

    <!-- Section des résultats d'offres -->
    <section class="offers-results">
        <h2>Résultats de la recherche</h2>
        <div th:replace="fragments/offers :: div"></div>
    </section>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
