<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Gimme - Profile</title>
    <link rel="icon" href="/images/icon.png" type="image/png">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="profile-container">
    <div th:replace="fragments/profile-nav :: div"></div>

    <!-- Section principale -->
    <div class="profile-main">

        <div th:if="${successMessage}" class="success-message">
            <p th:text="${successMessage}"></p>
        </div>

        <!-- Mise à jour du profil -->
        <section id="update-profile">
            <h2>Mettre à jour mon profil</h2>
            <form id="update-form" action="/customer" method="POST" th:action="@{/customer}">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" th:value="${customer.username}" readonly>

                <label for="name">Nom :</label>
                <input type="text" id="name" name="name" th:value="${customer.name}">

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password">

                <label for="confirm-password">Confirmer le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm-password">

                <button type="submit" class="btn small-btn">Mettre à jour</button>
            </form>
        </section>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
