<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/profile.css">
    <title>Gimme - Profile</title>
    <link rel="icon" href="/images/icon.png" type="image/png">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="profile-container">
    <div th:replace="fragments/profile-nav :: div"></div>

    <!-- Section principale -->
    <div class="profile-main">
        <section id="delete-profile">
            <h2>Supprimer mon profil</h2>
            <p>Attention, cette action est irréversible !</p>
            <button id="delete-profile-btn" class="btn small-btn" th:data-username="${username}">Supprimer mon profil</button>
        </section>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="js/delete-profile.js"></script>
</body>
</html>
